
/* BIG TABLET TO 1200PX (WIDTH SMALLER THAN THE 1140PX ROW) */
@media only screen and (max-width: 1200px) {

}

/* SMALL TABLET TO BIG TABLET: FROM 767PX TO 1023PX */
@media only screen and (max-width: 1023px) {
    html, body{font-size: 18px;}

    h2 {
        margin: 0 0 10px 0;
        letter-spacing: 1px;
    }
    
    section {padding: 25px 0;}
    
    .trend-box img{height: 150px;}
    
    .row {padding: 0 2%;}

    .features-box {text-align: center;}
    
    .features-box i {
        font-size: 120%;
        margin-right: 10px;
    }
    .features-box p {
        display: block;
        vertical-align: 5px;
    }
    .section-models {
        height: 300px;
    }
    .footer-curren h3 {padding: 5px;}
    
    .center {width: 60%;margin: 0 auto;}   
}

/* SMALL PHONES TO SMALL TABLETS: FROM 481PX TO 767PX */
@media only screen and (max-width: 767px) {

}

/* SMALL PHONES: FROM 0 TO 480PX  */
@media only screen and (max-width: 480px) {

}
